/*Created by Camden Martin*/
html{
    background-color: rgb(10, 10, 10);
}

.information-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family:'Courier New';
    font-size: xx-large;
    font-weight: 800;
    color: azure;
}

.level-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-family:'Courier New';
    font-size: large;
    font-weight: 600;
    color: azure;
}

.amount-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-family: 'Courier New';
    font-size: larger;
    font-weight: 600;
    color: azure;
}

.upgrade-price-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-family: 'Courier New';
    font-size: larger;
    font-weight: 400;
    color: azure;
}

.gnocchi-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.upgrade-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.pet-gnocchi-button{
    border: 3px solid navy;
    font-family: 'Courier New';
    font-size: large;
    font-weight: 300;
    height: 300px;
    width: auto;
}

.upgrade-button{
    border: 3px solid navy;
    font-family: 'Courier New';
    font-size: large;
    font-weight: 300;
}

.details-section{
    position: fixed;
    bottom: 3px;
    left: 3px;
    color: azure;
}

.link-to-wiki{
    font-family: 'Courier New';
    font-size: 12pt;
    font-weight: 300;
    font-style: oblique;
}

.version-text{
    font-family: 'Courier New';
    font-size: 12pt;
    font-weight: 200;
}

#effects{
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100000;
    width: 100%;
    height: 100%;
}

.purr-effect{
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
    width: auto;
    height: auto;
    font-family: 'Courier New';
    font-size: 12pt;
    font-weight: 200;
    color: cornflowerblue;
}