/*Created by Camden Martin*/
html{
    background-color: aquamarine;
}

.information-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family:'Courier New';
    font-size: xx-large;
    font-weight: 800;
}

.level-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-family:'Courier New';
    font-size: large;
    font-weight: 600;
}

.amount-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-family: 'Courier New';
    font-size: larger;
    font-weight: 600;
}

.upgrade-price-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-family: 'Courier New';
    font-size: larger;
    font-weight: 400;
}

.gnocchi-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.upgrade-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.pet-gnocchi-button{
    border: 3px solid green;
    font-family: 'Courier New';
    font-size: medium;
    font-weight: 300;
    font-style: oblique;
    height: 300px;
    width: auto;
}

.upgrade-button{
    border: 3px solid green;
    font-family: 'Courier New';
    font-size: medium;
    font-weight: 300;
    font-style: oblique;
}

.details-section{
    position: fixed;
    bottom: 0;
    left: 0;
}

.link-to-wiki{
    font-family: 'Courier New';
    font-size: small;
    font-weight: 300;
    font-style: oblique;
}

.version-text{
    font-family: 'Courier New';
    font-size: small;
    font-weight: 200;
}